{% block sw_cms_preview_ict_content_tabs %}
<div class="sw-cms-preview-ict-content-tabs">
    <div class="ict-ct-preview__tabs">
        <span class="ict-ct-preview__tab ict-ct-preview__tab--active">TAB</span>
        <span class="ict-ct-preview__tab">TAB</span>
        <span class="ict-ct-preview__tab">TAB</span>
    </div>
    <div class="ict-ct-preview__body">
        <div class="ict-ct-preview__line ict-ct-preview__line--title"></div>
        <div class="ict-ct-preview__line"></div>
        <div class="ict-ct-preview__line"></div>
        <div class="ict-ct-preview__line ict-ct-preview__line--short"></div>
    </div>
</div>
{% endblock %}
