{% block sw_cms_block_ict_five_column %}
<div class="sw-cms-block-ict-five-column">
    <div class="sw-cms-block-ict-five-column__slot">
        <slot name="left"></slot>
    </div>

    <div class="sw-cms-block-ict-five-column__slot">
        <slot name="leftCenter"></slot>
    </div>

    <div class="sw-cms-block-ict-five-column__slot">
        <slot name="center"></slot>
    </div>

    <div class="sw-cms-block-ict-five-column__slot">
        <slot name="rightCenter"></slot>
    </div>

    <div class="sw-cms-block-ict-five-column__slot">
        <slot name="right"></slot>
    </div>
</div>
{% endblock %}
