<div class="sw-cms-block-ict-three-column">
    <div class="sw-cms-block-ict-three-column__column">
        <slot name="left"></slot>
    </div>

    <div class="sw-cms-block-ict-three-column__column">
        <slot name="center"></slot>
    </div>

    <div class="sw-cms-block-ict-three-column__column">
        <slot name="right"></slot>
    </div>
</div>
