{% block sw_cms_block_ict_three_column %}
<div class="sw-cms-block-ict-three-column">
    <div class="sw-cms-block-ict-three-column__slot">
        <slot name="left"></slot>
    </div>

    <div class="sw-cms-block-ict-three-column__slot">
        <slot name="center"></slot>
    </div>

    <div class="sw-cms-block-ict-three-column__slot">
        <slot name="right"></slot>
    </div>
</div>
{% endblock %}
