.sw-cms-block-ict-seven-column {
    display: flex;
    gap: 10px;
    align-items: stretch;

    &__slot {
        flex: 1 1 0;
        min-width: 0;
    }

    .sw-cms-slot,
    .sw-cms-el-ict-seven-column {
        height: 100%;
        width: 100%;
    }

    .sw-cms-slot {
        min-width: 0;
    }
}
