{% block sw_cms_block_ict_seven_column %}
<div class="sw-cms-block-ict-seven-column">
    <div class="sw-cms-block-ict-seven-column__slot">
        <slot name="column1"></slot>
    </div>

    <div class="sw-cms-block-ict-seven-column__slot">
        <slot name="column2"></slot>
    </div>

    <div class="sw-cms-block-ict-seven-column__slot">
        <slot name="column3"></slot>
    </div>

    <div class="sw-cms-block-ict-seven-column__slot">
        <slot name="column4"></slot>
    </div>

    <div class="sw-cms-block-ict-seven-column__slot">
        <slot name="column5"></slot>
    </div>

    <div class="sw-cms-block-ict-seven-column__slot">
        <slot name="column6"></slot>
    </div>

    <div class="sw-cms-block-ict-seven-column__slot">
        <slot name="column7"></slot>
    </div>
</div>
{% endblock %}
