{% block sw_cms_el_preview_ict_alert_hint %}
<div class="sw-cms-el-preview-ict-alert-hint">
    <div class="sw-cms-el-preview-ict-alert-hint__grid">
        <div class="sw-cms-el-preview-ict-alert-hint__strip sw-cms-el-preview-ict-alert-hint__strip--success"></div>
        <div class="sw-cms-el-preview-ict-alert-hint__strip sw-cms-el-preview-ict-alert-hint__strip--warning"></div>
        <div class="sw-cms-el-preview-ict-alert-hint__strip sw-cms-el-preview-ict-alert-hint__strip--danger"></div>
        <div class="sw-cms-el-preview-ict-alert-hint__strip sw-cms-el-preview-ict-alert-hint__strip--info"></div>
        <div class="sw-cms-el-preview-ict-alert-hint__strip sw-cms-el-preview-ict-alert-hint__strip--primary"></div>
        <div class="sw-cms-el-preview-ict-alert-hint__strip sw-cms-el-preview-ict-alert-hint__strip--secondary"></div>
    </div>
    <p class="sw-cms-el-preview-ict-alert-hint__label">Alert / Hint</p>
</div>
{% endblock %}
