{% block sw_cms_block_ict_eleven_column %}
<div class="sw-cms-block-ict-eleven-column">
    <div class="sw-cms-block-ict-eleven-column__slot">
        <slot name="column1"></slot>
    </div>

    <div class="sw-cms-block-ict-eleven-column__slot">
        <slot name="column2"></slot>
    </div>

    <div class="sw-cms-block-ict-eleven-column__slot">
        <slot name="column3"></slot>
    </div>

    <div class="sw-cms-block-ict-eleven-column__slot">
        <slot name="column4"></slot>
    </div>

    <div class="sw-cms-block-ict-eleven-column__slot">
        <slot name="column5"></slot>
    </div>

    <div class="sw-cms-block-ict-eleven-column__slot">
        <slot name="column6"></slot>
    </div>

    <div class="sw-cms-block-ict-eleven-column__slot">
        <slot name="column7"></slot>
    </div>

    <div class="sw-cms-block-ict-eleven-column__slot">
        <slot name="column8"></slot>
    </div>

    <div class="sw-cms-block-ict-eleven-column__slot">
        <slot name="column9"></slot>
    </div>

    <div class="sw-cms-block-ict-eleven-column__slot">
        <slot name="column10"></slot>
    </div>

    <div class="sw-cms-block-ict-eleven-column__slot">
        <slot name="column11"></slot>
    </div>
</div>
{% endblock %}
