<div class="sw-cms-el-preview-ict-accordion">
    <div class="sw-cms-el-preview-ict-accordion__header">
        <span class="sw-cms-el-preview-ict-accordion__title">
            {{ $tc('ict-cms-bundle-element.cms.elements.ictAccordion.previewTitle') }}
        </span>

        <span class="sw-cms-el-preview-ict-accordion__indicator"></span>
    </div>

    <div class="sw-cms-el-preview-ict-accordion__content">
        <span class="sw-cms-el-preview-ict-accordion__line sw-cms-el-preview-ict-accordion__line--long"></span>
        <span class="sw-cms-el-preview-ict-accordion__line sw-cms-el-preview-ict-accordion__line--medium"></span>
    </div>

    <div class="sw-cms-el-preview-ict-accordion__header sw-cms-el-preview-ict-accordion__header--secondary">
        <span class="sw-cms-el-preview-ict-accordion__title sw-cms-el-preview-ict-accordion__title--secondary">
            {{ $tc('ict-cms-bundle-element.cms.elements.ictAccordion.config.entry.add') }}
        </span>

        <span class="sw-cms-el-preview-ict-accordion__indicator"></span>
    </div>
</div>
