<div class="sw-cms-preview-ict-accordion">
    <div class="sw-cms-preview-ict-accordion__item">
        <span class="sw-cms-preview-ict-accordion__headline"></span>
        <span class="sw-cms-preview-ict-accordion__content sw-cms-preview-ict-accordion__content--wide"></span>
        <span class="sw-cms-preview-ict-accordion__content"></span>
    </div>

    <div class="sw-cms-preview-ict-accordion__item">
        <span class="sw-cms-preview-ict-accordion__headline"></span>
        <span class="sw-cms-preview-ict-accordion__content sw-cms-preview-ict-accordion__content--medium"></span>
    </div>

    <div class="sw-cms-preview-ict-accordion__label">
        {{ $tc('ict-cms-bundle-element.cms.blocks.ictAccordion.label') }}
    </div>
</div>
