{% block sw_cms_element_ict_platform_support_preview %}
<div class="sw-cms-el-preview-ict-platform-support">
    <div class="preview-title">ICT Integrations</div>
    <div class="preview-grid">
        <div class="preview-item" v-for="i in 5" :key="i">
            <div class="preview-icon"></div>
            <span class="preview-label">Item {{ i }}</span>
        </div>
    </div>
</div>
{% endblock %}
