{% block sw_cms_block_ict_two_column %}
<div class="sw-cms-block-ict-two-column">
    <div class="sw-cms-block-ict-two-column__slot">
        <slot name="left"></slot>
    </div>

    <div class="sw-cms-block-ict-two-column__slot">
        <slot name="right"></slot>
    </div>
</div>
{% endblock %}
