{% block sw_cms_block_ict_image_gallery %}
<div class="sw-cms-block-ict-image-gallery">
    <div class="sw-cms-block-ict-image-gallery__slot">
        <div class="sw-cms-block-ict-image-gallery__card-slot">
            <slot name="gallery"></slot>
        </div>
    </div>
</div>
{% endblock %}
