{% block sw_cms_preview_ict_platform_support %}
<div class="sw-cms-preview-ict-platform-support">
    <div class="preview-title">ICT Integrations</div>
    <div class="preview-grid">
        <div class="preview-item" v-for="i in 5" :key="i">
            <div class="preview-icon"></div>
        </div>
    </div>
</div>
{% endblock %}
