<div class="ict-bc-block-preview">
    <div class="ict-bc-block-preview__trail">
        <span class="ict-bc-block-preview__node"></span>
        <span class="ict-bc-block-preview__arrow">›</span>
        <span class="ict-bc-block-preview__node"></span>
        <span class="ict-bc-block-preview__arrow">›</span>
        <span class="ict-bc-block-preview__node"></span>
        <span class="ict-bc-block-preview__arrow">›</span>
        <span class="ict-bc-block-preview__node"></span>
        <span class="ict-bc-block-preview__arrow">›</span>
        <span class="ict-bc-block-preview__node is-last"></span>
    </div>
</div>
