<div class="sw-cms-preview-ict-file-download-block">
    <div class="sw-cms-preview-ict-file-download-block__row">
        <div class="sw-cms-preview-ict-file-download-block__icon"></div>
        <div class="sw-cms-preview-ict-file-download-block__lines">
            <span class="sw-cms-preview-ict-file-download-block__line sw-cms-preview-ict-file-download-block__line--title"></span>
            <span class="sw-cms-preview-ict-file-download-block__line sw-cms-preview-ict-file-download-block__line--sub"></span>
        </div>
        <div class="sw-cms-preview-ict-file-download-block__btn"></div>
    </div>
</div>
