{% block sw_cms_el_ict_story_card %}
<div class="sw-cms-el-ict-story-card">
    <div class="sw-cms-el-ict-story-card__inner">
        <div class="sw-cms-el-ict-story-card__media">
            <template v-if="media && media.url">
                <img :src="media.url" alt="" />
            </template>
            <template v-else>
                <span class="sw-cms-el-ict-story-card__media-label">
                    {{ $tc('ict-cms-bundle-element.cms.elements.ictStoryCard.config.imagePlaceholder') }}
                </span>
            </template>
        </div>

        <div class="sw-cms-el-ict-story-card__content">
            <div class="sw-cms-el-ict-story-card__title">
                {{ title || $tc('ict-cms-bundle-element.cms.elements.ictStoryCard.config.titlePlaceholder') }}
            </div>
            <div class="sw-cms-el-ict-story-card__subtitle">
                {{ subtitle || $tc('ict-cms-bundle-element.cms.elements.ictStoryCard.config.subtitlePlaceholder') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

