{% block sw_cms_element_ict_overview_cards_6_preview %}
    <div class="sw-cms-el-preview-ict-overview-cards-6">
        <div class="overview-card">
            <div class="card-media"></div>
            <div class="card-content">
                <div class="card-headline">Card Title</div>
                <div class="card-body-text">Description text goes here.</div>
                <div class="card-buttons">
                    <span class="card-button">Learn More</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
