{% block sw_cms_block_ict_nine_column %}
<div class="sw-cms-block-ict-nine-column">
    <div class="sw-cms-block-ict-nine-column__slot"><slot name="col1"></slot></div>
    <div class="sw-cms-block-ict-nine-column__slot"><slot name="col2"></slot></div>
    <div class="sw-cms-block-ict-nine-column__slot"><slot name="col3"></slot></div>
    <div class="sw-cms-block-ict-nine-column__slot"><slot name="col4"></slot></div>
    <div class="sw-cms-block-ict-nine-column__slot"><slot name="col5"></slot></div>
    <div class="sw-cms-block-ict-nine-column__slot"><slot name="col6"></slot></div>
    <div class="sw-cms-block-ict-nine-column__slot"><slot name="col7"></slot></div>
    <div class="sw-cms-block-ict-nine-column__slot"><slot name="col8"></slot></div>
    <div class="sw-cms-block-ict-nine-column__slot"><slot name="col9"></slot></div>
</div>
{% endblock %}
