<div class="sw-cms-el-preview-ict-banner-slider">
    <div class="sw-cms-el-preview-ict-banner-slider__overlay">
        <div class="sw-cms-el-preview-ict-banner-slider__title">Banner Slider</div>
    </div>
    <img :src="assetFilter('administration/static/img/cms/preview_mountain_large.jpg')">
</div>
