.sw-cms-el-ict-platform-support {
    .platform-support-preview {
        min-height: 180px;

        h3 {
            margin: 0 0 2rem;
        }

        .platform-grid {
            width: 100%;
        }

        .platform-item {
            transition: transform 0.2s ease;
            cursor: pointer;

            .platform-icon-wrapper {
                transition: all 0.2s ease;
                flex-shrink: 0;
            }

            span {
                word-break: break-word;
            }
        }
    }
}
