.sw-cms-slot.sw-cms-slot--ict-breadcrumb-navigation {
    min-height: 36px;
}

.sw-cms-el-ict-breadcrumb-navigation {
    padding: 8px 0;

    .ict-bc-preview {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 4px;

        &__item {
            font-size: 13px;
            color: var(--ict-bc-color, var(--color-text-primary-default));
            opacity: 0.6;

            &.is-active {
                opacity: 1;
                font-weight: 600;
            }
        }

        &__sep {
            font-size: 13px;
            color: var(--ict-bc-color, var(--color-text-primary-default));
            opacity: 0.4;
        }
    }
}
