{% block sw_cms_el_preview_ict_subcategory_navigation %}
<div class="ict-subcat-preview-thumb">
    <div class="ict-subcat-preview-thumb__grid">
        <div class="ict-subcat-preview-thumb__card" v-for="i in 3" :key="i">
            <div class="ict-subcat-preview-thumb__img"></div>
            <div class="ict-subcat-preview-thumb__tag">CATEGORY</div>
        </div>
    </div>
    <p class="ict-subcat-preview-thumb__label">Subcategory - Navigation</p>
</div>
{% endblock %}
