{% block sw_cms_el_preview_ict_file_download %}
<div class="sw-cms-el-preview-ict-file-download">
    <div class="sw-cms-el-preview-ict-file-download__icon-wrap">
        <sw-icon name="regular-file-text" />
    </div>
    <div class="sw-cms-el-preview-ict-file-download__bar">
        <span class="sw-cms-el-preview-ict-file-download__btn"></span>
    </div>
    <p class="sw-cms-el-preview-ict-file-download__label">File / Download</p>
</div>
{% endblock %}
