<div class="sw-cms-el-preview-ict-manufacturer-slider">
    <div class="sw-cms-el-preview-ict-manufacturer-slider__nav is-prev"></div>

    <div class="sw-cms-el-preview-ict-manufacturer-slider__track">
        <div
            v-for="item in 4"
            :key="item"
            class="sw-cms-el-preview-ict-manufacturer-slider__item"
        >
            <div class="sw-cms-el-preview-ict-manufacturer-slider__logo"></div>
            <div class="sw-cms-el-preview-ict-manufacturer-slider__text"></div>
        </div>
    </div>

    <div class="sw-cms-el-preview-ict-manufacturer-slider__nav is-next"></div>
</div>
