<div class="sw-cms-preview-ict-alert-hint-block">
    <div class="sw-cms-preview-ict-alert-hint-block__strip sw-cms-preview-ict-alert-hint-block__strip--success"></div>
    <div class="sw-cms-preview-ict-alert-hint-block__strip sw-cms-preview-ict-alert-hint-block__strip--warning"></div>
    <div class="sw-cms-preview-ict-alert-hint-block__strip sw-cms-preview-ict-alert-hint-block__strip--info"></div>
</div>
