{% block sw_cms_el_preview_ict_hero_banner %}
<div class="sw-cms-el-preview-ict-hero-banner">
    <div class="sw-cms-el-preview-ict-hero-banner__left">
        <div class="sw-cms-el-preview-ict-hero-banner__logo"></div>
        <div class="sw-cms-el-preview-ict-hero-banner__text"></div>
    </div>
    <div class="sw-cms-el-preview-ict-hero-banner__right"></div>
</div>
{% endblock %}
