<div class="sw-cms-preview-ict-story-card-block">
    <div class="sw-cms-preview-ict-story-card-block__row">
        <div class="sw-cms-preview-ict-story-card-block__image"></div>
        <div class="sw-cms-preview-ict-story-card-block__lines">
            <span class="sw-cms-preview-ict-story-card-block__line sw-cms-preview-ict-story-card-block__line--title"></span>
            <span class="sw-cms-preview-ict-story-card-block__line sw-cms-preview-ict-story-card-block__line--sub"></span>
        </div>
    </div>
</div>

