{% block sw_cms_preview_ict_three_column_image %}
    <div class="sw-cms-preview-ict-three-column-three-images">

        <div class="preview-row">

            <!-- LEFT BIG IMAGE -->
            <div class="preview-col-left">
                <div class="preview-image-item large">
                    <div class="content">
                        <div class="badges">
                            <span class="badge">NEW</span>
                            <span class="badge secondary">WORKSPACE</span>
                        </div>
                        <div class="description">
                            <p>Series 5 Enjoy Higher Quality</p>
                        </div>
                    </div>

                    <img :src="assetFilter('/administration/static/img/cms/preview_mountain_large.jpg')" alt="">

                    <div class="btn-small">LEARN MORE</div>
                </div>
            </div>

            <!-- RIGHT SIDE (TOP + BOTTOM) -->
            <div class="preview-col-right">

                <!-- RIGHT TOP IMAGE -->
                <div class="preview-image-item small mb-10">
                    <div class="content">
                        <div class="badges">
                            <span class="badge">NEW</span>
                            <span class="badge secondary">WORKSPACE</span>
                        </div>
                        <div class="description">
                            <p>Series 5 Enjoy Higher Quality</p>
                        </div>
                    </div>

                    <img :src="assetFilter('/administration/static/img/cms/preview_glasses_large.jpg')" alt="">

                    <div class="btn-small">LEARN MORE</div>
                </div>

                <!-- RIGHT BOTTOM IMAGE -->
                <div class="preview-image-item small">
                    <div class="content">
                        <div class="badges">
                            <span class="badge">NEW</span>
                            <span class="badge secondary">WORKSPACE</span>
                        </div>
                        <div class="description">
                            <p>Series 5 Enjoy Higher Quality</p>
                        </div>
                    </div>

                    <img :src="assetFilter('/administration/static/img/cms/preview_camera_large.jpg')" alt="">

                    <div class="btn-small">LEARN MORE</div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}
