{% block sw_cms_preview_ict_hero_banner_block %}
<div class="sw-cms-preview-ict-hero-banner-block">
    <div class="sw-cms-preview-ict-hero-banner-block__left">
        <div class="sw-cms-preview-ict-hero-banner-block__logo"></div>
        <div class="sw-cms-preview-ict-hero-banner-block__text"></div>
    </div>
    <div class="sw-cms-preview-ict-hero-banner-block__right"></div>
</div>
{% endblock %}
