{% block sw_cms_element_ict_content_tabs_preview %}
<div class="sw-cms-el-preview-ict-content-tabs">
    <div class="ict-ct-el-preview__nav">
        <span class="ict-ct-el-preview__tab ict-ct-el-preview__tab--active">TAB</span>
        <span class="ict-ct-el-preview__tab-line"></span>
        <span class="ict-ct-el-preview__tab-line"></span>
    </div>
    <div class="ict-ct-el-preview__body">
        <div class="ict-ct-el-preview__line ict-ct-el-preview__line--title"></div>
        <div class="ict-ct-el-preview__line"></div>
        <div class="ict-ct-el-preview__line"></div>
        <div class="ict-ct-el-preview__line ict-ct-el-preview__line--short"></div>
        <div class="ict-ct-el-preview__line"></div>
        <div class="ict-ct-el-preview__line ict-ct-el-preview__line--short"></div>
    </div>
</div>
{% endblock %}
