{% block sw_cms_el_preview_ict_story_card %}
<div class="sw-cms-el-preview-ict-story-card">
    <div class="sw-cms-el-preview-ict-story-card__inner">
        <div class="sw-cms-el-preview-ict-story-card__media" aria-hidden="true"></div>
        <div class="sw-cms-el-preview-ict-story-card__content">
            <div class="sw-cms-el-preview-ict-story-card__tag">STORY</div>
            <div class="sw-cms-el-preview-ict-story-card__label">Story card</div>
        </div>
    </div>
</div>
{% endblock %}

