{% block sw_cms_el_preview_ict_three_column_image %}
    <div class="sw-cms-el-preview-ict-three-column-image">
        <div class="left-image">
            <div class="content">
                <div class="badges">
                    <span class="badge">NEW</span>
                    <span class="badge secondary">WORKSPACE</span>
                </div>
                <div class="description">
                    <p>Series 5 Enjoy Higher Quality</p>
                </div>
                <div class="btn-small">LEARN MORE</div>
            </div>
            <img :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')" alt="">
        </div>
        <div class="right-column">
            <div class="center-image">
                <div class="content">
                    <div class="badges">
                        <span class="badge">NEW</span>
                        <span class="badge secondary">WORKSPACE</span>
                    </div>
                    <div class="description">
                        <p>Series 5 Enjoy Higher Quality</p>
                    </div>
                    <div class="btn-small">LEARN MORE</div>
                </div>
                <img :src="assetFilter('/administration/static/img/cms/preview_glasses_small.jpg')" alt="">
            </div>
            <div class="right-image">
                <div class="content">
                    <div class="badges">
                        <span class="badge">NEW</span>
                        <span class="badge secondary">WORKSPACE</span>
                    </div>
                    <div class="description">
                        <p>Series 5 Enjoy Higher Quality</p>
                    </div>
                    <div class="btn-small">LEARN MORE</div>
                </div>
                <img :src="assetFilter('/administration/static/img/cms/preview_camera_small.jpg')" alt="">
            </div>
        </div>
    </div>
{% endblock %}
