{% block sw_cms_block_ict_four_column %}
<div class="sw-cms-block-ict-four-column">
    <div class="sw-cms-block-ict-four-column__slot">
        <slot name="left"></slot>
    </div>

    <div class="sw-cms-block-ict-four-column__slot">
        <slot name="centerLeft"></slot>
    </div>

    <div class="sw-cms-block-ict-four-column__slot">
        <slot name="centerRight"></slot>
    </div>

    <div class="sw-cms-block-ict-four-column__slot">
        <slot name="right"></slot>
    </div>
</div>
{% endblock %}
