{% block sw_cms_preview_ict_product_comparison %}
<div class="sw-cms-preview-ict-product-comparison">
    <div class="pcp-block-preview__title">
        <span class="pcp-block-preview__dot"></span>
        <span class="pcp-block-preview__line"></span>
    </div>
    <div class="pcp-block-preview__grid">
        <div class="pcp-block-preview__card pcp-block-preview__card--highlight"></div>
        <div class="pcp-block-preview__card"></div>
        <div class="pcp-block-preview__card"></div>
    </div>
</div>
{% endblock %}

