<div class="ict-subcat-block-preview">
    <div class="ict-subcat-block-preview__grid">
        <div class="ict-subcat-block-preview__card" v-for="i in 4" :key="i">
            <div class="ict-subcat-block-preview__img"></div>
            <div class="ict-subcat-block-preview__label"></div>
        </div>
    </div>
</div>
