{% block sw_cms_preview_ict_vertical_tab_block %}
<div class="sw-cms-preview-ict-vertical-tab-block">
    <div class="sw-cms-preview-ict-vertical-tab-block__layout">
        <div class="sw-cms-preview-ict-vertical-tab-block__content">
            <div class="sw-cms-preview-ict-vertical-tab-block__header"></div>
            <div class="sw-cms-preview-ict-vertical-tab-block__line"></div>
            <div class="sw-cms-preview-ict-vertical-tab-block__btn"></div>
        </div>
        <div class="sw-cms-preview-ict-vertical-tab-block__nav">
            <div class="sw-cms-preview-ict-vertical-tab-block__nav-item sw-cms-preview-ict-vertical-tab-block__nav-item--active"></div>
            <div class="sw-cms-preview-ict-vertical-tab-block__nav-item"></div>
            <div class="sw-cms-preview-ict-vertical-tab-block__nav-item"></div>
            <div class="sw-cms-preview-ict-vertical-tab-block__nav-item"></div>
        </div>
    </div>
</div>
{% endblock %}
