<div class="sw-cms-preview-ict-seven-column">
    <span
        v-for="slot in 7"
        :key="slot"
        class="sw-cms-preview-ict-seven-column__slot"
    >
        <sw-icon
            class="sw-cms-preview-ict-seven-column__icon"
            name="regular-plus-circle"
            size="8"
        />
    </span>
</div>
