{% block sw_cms_el_preview_ict_breadcrumb_navigation %}
<div class="ict-bc-preview-thumb">
    <div class="ict-bc-preview-thumb__trail">
        <span class="ict-bc-preview-thumb__home">⌂</span>
        <span class="ict-bc-preview-thumb__sep">›</span>
        <span class="ict-bc-preview-thumb__crumb"></span>
        <span class="ict-bc-preview-thumb__sep">›</span>
        <span class="ict-bc-preview-thumb__crumb"></span>
        <span class="ict-bc-preview-thumb__sep">›</span>
        <span class="ict-bc-preview-thumb__crumb is-active"></span>
    </div>
    <p class="ict-bc-preview-thumb__label">Breadcrumb - Navigation</p>
</div>
{% endblock %}
