{% block sw_cms_preview_ict_overview_cards_6 %}
<div class="sw-cms-preview-ict-overview-cards-6">
    <div class="preview-grid">
        <div class="preview-card" v-for="i in 3" :key="i">
            <div class="preview-media"></div>
            <div class="preview-content">
                <div class="preview-headline">Card {{ i }}</div>
                <div class="preview-btn">Learn More</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
