{% block sw_cms_preview_ict_image_comparison_block %}
<div class="sw-cms-preview-ict-image-comparison-block">
    <div class="sw-cms-preview-ict-image-comparison-block__before"></div>
    <div class="sw-cms-preview-ict-image-comparison-block__handle">
        <span>›</span>
    </div>
    <div class="sw-cms-preview-ict-image-comparison-block__after"></div>
</div>
{% endblock %}
