{% block sw_cms_el_preview_ict_category_image_slider %}
<div class="sw-cms-el-preview-ict-category-image-slider">
    <div class="sw-cms-el-preview-ict-category-image-slider__grid">
        <div class="sw-cms-el-preview-ict-category-image-slider__item"></div>
        <div class="sw-cms-el-preview-ict-category-image-slider__item"></div>
        <div class="sw-cms-el-preview-ict-category-image-slider__item"></div>
    </div>
</div>
{% endblock %}

