<div class="sw-cms-el-preview-ict-nine-column">
    <span class="sw-cms-el-preview-ict-nine-column__media"></span>
    <span class="sw-cms-el-preview-ict-nine-column__line sw-cms-el-preview-ict-nine-column__line--short"></span>
    <span class="sw-cms-el-preview-ict-nine-column__line"></span>
    <span class="sw-cms-el-preview-ict-nine-column__line sw-cms-el-preview-ict-nine-column__line--small"></span>
</div>
