{% block block_ict_manufacturer_slider %}
    {% set element = block.slots.getSlot('content') %}

    {% if element %}
        <div
            class="ict-manufacturer-slider-block__slot"
            data-cms-element-id="{{ element.id }}"
        >
            {% sw_include '@Storefront/storefront/element/cms-element-' ~ element.type ~ '.html.twig' ignore missing with { element: element } %}
        </div>
    {% endif %}
{% endblock %}
