{% block block_ict_three_column %}
    {% set slots = [
        block.slots.getSlot('left'),
        block.slots.getSlot('center'),
        block.slots.getSlot('right')
    ] %}
    
    {% for slot in slots %}
        {% if slot %}
            <div class="col-lg-4 col-md-6 col-12 ict-three-column-layout__col" data-cms-element-id="{{ slot.id }}">
                <div class="ict-three-column-layout__card-slot">
                    {% sw_include '@Storefront/storefront/element/cms-element-' ~ slot.type ~ '.html.twig' ignore missing with { element: slot } %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
