{% block block_ict_content_tabs %}
    {% set element = block.slots.getSlot('contentTabs') %}

    {% if element %}
        <div class="cms-block-ict-content-tabs">
            <div data-cms-element-id="{{ element.id }}">
                {% sw_include '@Storefront/storefront/element/cms-element-' ~ element.type ~ '.html.twig' ignore missing with { element: element } %}
            </div>
        </div>
    {% endif %}
{% endblock %}
