{% block sw_cms_el_preview_ict_image_comparison %}
<div class="sw-cms-el-preview-ict-image-comparison">
    <div class="sw-cms-el-preview-ict-image-comparison__before"></div>
    <div class="sw-cms-el-preview-ict-image-comparison__handle">
        <span class="sw-cms-el-preview-ict-image-comparison__arrow">›</span>
    </div>
    <div class="sw-cms-el-preview-ict-image-comparison__after"></div>
</div>
{% endblock %}
