{% block sw_cms_el_preview_ict_vertical_tab %}
<div class="sw-cms-el-preview-ict-vertical-tab">
    <div class="sw-cms-el-preview-ict-vertical-tab__layout">
        <div class="sw-cms-el-preview-ict-vertical-tab__content">
            <div class="sw-cms-el-preview-ict-vertical-tab__header"></div>
            <div class="sw-cms-el-preview-ict-vertical-tab__line"></div>
            <div class="sw-cms-el-preview-ict-vertical-tab__btn"></div>
        </div>
        <div class="sw-cms-el-preview-ict-vertical-tab__nav">
            <div class="sw-cms-el-preview-ict-vertical-tab__nav-item sw-cms-el-preview-ict-vertical-tab__nav-item--active"></div>
            <div class="sw-cms-el-preview-ict-vertical-tab__nav-item"></div>
            <div class="sw-cms-el-preview-ict-vertical-tab__nav-item"></div>
            <div class="sw-cms-el-preview-ict-vertical-tab__nav-item"></div>
        </div>
    </div>
</div>
{% endblock %}
