{% block sw_cms_block_ict_six_column %}
<div class="sw-cms-block-ict-six-column">
    <div class="sw-cms-block-ict-six-column__slot">
        <slot name="left"></slot>
    </div>

    <div class="sw-cms-block-ict-six-column__slot">
        <slot name="leftCenter"></slot>
    </div>

    <div class="sw-cms-block-ict-six-column__slot">
        <slot name="centerLeft"></slot>
    </div>

    <div class="sw-cms-block-ict-six-column__slot">
        <slot name="centerRight"></slot>
    </div>

    <div class="sw-cms-block-ict-six-column__slot">
        <slot name="rightCenter"></slot>
    </div>

    <div class="sw-cms-block-ict-six-column__slot">
        <slot name="right"></slot>
    </div>
</div>
{% endblock %}
