.sw-cms-block-ict-six-column {
    display: flex;
    gap: 20px;
    align-items: stretch;
    grid-gap: 30px !important;

    &__slot {
        flex: 1 1 0;
        min-width: 0;
    }

    .sw-cms-slot,
    .sw-cms-el-ict-six-column {
        height: 100%;
        width: 100%;
    }

    .sw-cms-slot {
        min-width: 0;
    }
}
